{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- La tarjeta card-->
        <div class="card"> <!--tajeta-->
            <div class="card-body">
                <form action="/editarVenta/" method="POST"> {% csrf_token %} <!--formulario-->
                    <div class="form-group">
                        <input type="text" id="numid_venta" name="numid_venta" class="form-control"
                        value="{{misventas.id_venta}}" minLenght="6" maxLenght="6" readonly reqired>
                    </div>
        
                    <div class="form-group py-3">
                        <input type="text" id="txtcodigo_venta" name="txtcodigo_venta" class="form-control"
                        value="{{misventas.codigo_venta}}" maxLenght="100" reqired>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numn_cliente" name="numn_cliente" class="form-control"
                        value="{{misventas.n_cliente}}" min="1" max="9" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="date" id="txtfecha_venta" name="txtfecha_venta" class="form-control"
                        value="{{fecha_venta}}" maxLenght="100" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="numprecio" name="numprecio" class="form-control"
                        value="{{misventas.precio}}" maxLenght="100" reqired>
                    </div>
        
                    <div class="form-group py-2">
                        <input type="text" id="numn_producto" name="numn_producto" class="form-control"
                        value="{{misventas.n_producto}}" min="1" max="9" reqired>
                    </div>
                     
                    <div class="form-group py-3">
                        <input type="text" id="txttipo_pago" name="txttipo_pago" class="form-control"
                        value="{{misventas.tipo_pago}}" maxLenght="100" reqired>
                    </div>
        
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form><!--formulario-->
            </div>
        </div>
    
        <!-- fin de la tarjeta card-->
    </div><!--Columna-->

</div><!--La fila-->

{% endblock %}