{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- La tarjeta card-->
        <div class="card"> <!--tajeta-->
            <div class="card-body">
                <form action="/editarSucursal/" method="POST"> {% csrf_token %} <!--formulario-->
                    <div class="form-group">
                        <input type="text" id="numid_sucursal" name="numid_sucursal" class="form-control"
                        value="{{missucursales.id_sucursal}}" minLenght="6" maxLenght="6" readonly reqired>
                    </div>
        
                    <div class="form-group py-3">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                        value="{{missucursales.direccion}}" maxLenght="100" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtciudad" name="txtciudad" class="form-control"
                        value="{{missucursales.ciudad}}" maxLenght="100" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                        value="{{missucursales.nombre}}" maxLenght="100" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txtencargado" name="txtencargado" class="form-control"
                        value="{{missucursales.encargado}}" maxLenght="100" reqired>
                    </div>

                    <div class="form-group py-3">
                        <input type="text" id="txthorario" name="txthorario" class="form-control"
                        value="{{missucursales.horario}}" maxLenght="100" reqired>
                    </div>
        
                    <div class="form-group py-2">
                        <input type="text" id="numtelefono" name="numtelefono" class="form-control"
                        value="{{missucursales.telefono}}" min="1" max="9" reqired>
                    </div>
        
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form><!--formulario-->
            </div>
        </div>
    
        <!-- fin de la tarjeta card-->
    </div><!--Columna-->

</div><!--La fila-->

{% endblock %}